header{

	text-align:center;
	font-size:30px;
	font:news roman times;
	margin-bottom:20px;

}


.row {

	display:flex;
	

}

main img {

	
	width:150px;
	height: 150px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;

}

p {
	
	font:news roman times;
	text-align:left;
	margin-left:10px;
	margin-right:10px;
}


#menu {

	display:flex;
	
}
.circle {
	background-color:lightgreen;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	margin: 50px;
}


h2 {
	font:times;
	font-size: 20px;
	margin-left: 110px;
	margin-top: 130px;
}